In [7]:
import pandas as pd

In [10]:
df = pd.read_csv("bikes_citations.csv", delimiter=",", na_values="NaN")

In [11]:
df.head()

,Citation Number,Date Time Issued,Street Number,Street Name,Cross Street,Charge Code,Charge Description
0,R7121753,4/1/16 10:34,NaN,EXETER PK,MASSACHUSETTS AVE,85/11B,BICYCLE VIOLATION c85 S11B
1,R6854349,4/11/16 7:43,NaN,COLUMBIA ST,HAMPSHIRE ST,85/11B,BICYCLE VIOLATION c85 S11B
2,R7120893,4/13/16 16:55,NaN,MASSACHUSETTS AVE,SIDNEY ST,85/11B,BICYCLE VIOLATION c85 S11B
3,R6588477,4/13/16 17:00,NaN,MASSACHUSETTS AVE,SIDNEY ST,85/11B,BICYCLE VIOLATION c85 S11B
4,R6775879,4/13/16 17:00,NaN,MASSACHUSETTS AVE,SIDNEY ST,85/11B,BICYCLE VIOLATION c85 S11B

In [16]:
citations_by_street = df.groupby(['Street Name', 'Cross Street']).size().sort_values(ascending=False)
print(citations_by_street)

Street Name                     Cross Street
MASSACHUSETTS AVE               SIDNEY ST                         559
INMAN ST                        MASSACHUSETTS AVE                 232
BROOKLINE ST                    MASSACHUSETTS AVE                 201
MASSACHUSETTS AVE               UPLAND RD                         147
ESSEX ST                        MASSACHUSETTS AVE                 127
BROADWAY                        HAMPSHIRE ST                      117
BRATTLE ST                      JFK ST                            114
CAMBRIDGE ST                    FIRST ST                          107
HAMPSHIRE ST                    WINDSOR ST                        107
ALBANY ST                       MASSACHUSETTS AVE                 106
MASSACHUSETTS AVE               PROSPECT ST                       102
BEECH ST                        MASSACHUSETTS AVE                  99
MASSACHUSETTS AVE               VASSAR ST                          93
                                ROSELAND ST                        75
HOLYOKE ST                      MASSACHUSETTS AVE                  65
AMES ST                         BROADWAY                           60
MASSACHUSETTS AVE               SIDNEY ST EXT                      58
                                SHEPARD ST                         56
AMHERST ST                      MASSACHUSETTS AVE                  56
EVERETT ST                      MASSACHUSETTS AVE                  54
DOUGLASS ST                     MASSACHUSETTS AVE                  52
CAMBRIDGE ST                    HAMPSHIRE ST                       51
HAMPSHIRE ST                    PROSPECT ST                        44
COLUMBIA ST                     HAMPSHIRE ST                       40
MASSACHUSETTS AVE               PLEASANT ST                        38
MASSACHUSETTS AVE               ROSELAND ST                        36
MASSACHUSETTS AVE               PEARL ST                           36
BEECH ST                        MASSACHUSETTS AVE                  34
CAMBRIDGE ST                    THIRD ST                           32
MASSACHUSETTS AVE               WATERHOUSE ST                      29
                                                                 ...
JFK                             BRATTLE                             1
                                MASSACHUSETTS AVE                   1
JFK ST                          WINTHROP ST                         1
LAFAYETTE SQ                                                        1
LANGDON ST                      MASSACHUSETTS AVE                   1
HAMPSHIRE                       WINDSOR                             1
LEE ST                          MASSACHUSETTS AVE                   1
BROOKLINE ST                    ERIE ST                             1
BROOKLINE ST                    MASSACHUSETTS AVE                   1
BROOKLINE                       MASS AVE                            1
BROADWAY ST                     FAYETTE ST                          1
LINDEN ST                       MASSACHUSETTS AVE                   1
HURON AVE                       RESERVOIR ST                        1
CAMBRIDGE ST                    HAMPSHIRE ST                        1
                                HUNTING ST                          1
                                SIXTH ST                            1
                                WARREN ST                           1
HOWARD ST                       RIVER ST                            1
HOMER AVE                       MT AUBURN ST                        1
HOLYOKE ST                      MT AUBURN ST                        1
HARVARD ST                      TROWBRIDGE ST                       1
                                QUINCY ST                           1
                                NORFOLK ST                          1
CAMBRIDGE ST                    LAMBERT ST                          1
                                OAK ST                              1
HARVARD ST                      LEE ST                              1
HAMPSHIRE ST                    INMAN ST                            1
                                                                    1
CAMBRIDGE ST                    SEVENTH ST                          1
VASSAR                          MASSACHUSETTS AVE                   1
dtype: int64

In [17]:
citations_by_street.to_csv('bicyclist_citations_cambridge_final.csv')